<% provide(:title, "Log in") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード"  %>
      <%= link_to "(パスワードを忘れた方)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>
      <% end %>
      
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>新規ユーザーは <%= link_to "サインアップへ", signup_path %></p>
  </div>
</div>